flask
pandas
numpy
flask-bootstrap
flask-sqlalchemy
flask-bcrypt
requests
cachetools
psutil
openpyxl
reportlab
gurobipy
ortools
haversine
humanfriendly
waitress
setuptools
python-dotenv
pyodbc
googletrans