/* basic positioning */
.legend {
    list-style: none;
    align-content: stretch;
  }

  .stickynote {
    background-color: rgb(247, 231, 167);
    font-family: Segoe UI;
    color: black;
  }

  #info {
    font-size: 20px;
  }

  .btnrows2 {
    width: 220px;
    padding: 5px 45px;
    font-size: 14px
  }

  .btnrows2b {
    width: 220px;
    padding: 5px 35px;
    font-size: 16px
  }

  .btn2 {
    background-color: #9f09b0;
    width: 220px;
    padding: 5px 45px;
    font-size: 14px
  }

  .btn-search-row {
    width: 160px;
    height: 30px;
    padding: 5px 20px;
    font-size: 14px;
  }

  .fdxfont {
    font-family: FedEx Sans;
  }

  .col-form-label {
    font-family: FedEx Sans;
  }

  .card-title {
    font-family: FedEx Sans;
  }

  .category {
    font-family: FedEx Sans;
    font-size: 15px;
  }

  .legend li {
    margin-right: 5vw;
  }

  .legend span {
    border: 1px solid #ccc;
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
  }

  .form-control {
    font-size: 1.2em;
  }

  .btn {
    color: black
  }

  .highcharts-menu-item {
    font-size: 16px !important;
    font-family: FedEx Sans !important;
    font-weight: bold !important;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: auto;
  }

  .popup-div {
    position: fixed;
    display: none;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; /* puts it on top of other content */
    padding: 20px;
    width: 88vw;
    height: 80vh;
    overflow: auto;
    background-color: #1e1e2f;
    border: 16px solid #ff6200;
    background-image: url(/static/images/fdx-img-background-street-small.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .popup-div-no-img {
    position: fixed;
    display: none;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; /* puts it on top of other content */
    padding: 20px;
    width: 88vw;
    height: 80vh;
    overflow: auto;
    background-color: #1e1e2f;
    border: 16px solid #ff6200;
  }

  .popup-header {
    padding: 10px;
    background-color: #4d148c;
    /* purple */
    color: #fff;
    /* white text */
    font-size: 22px;
    font-family: FedEx Sans;
  }