<div class="card">
    <div class="card popup-div-no-img" id="id-display-shift-on-map" 
    style=" display: none;
    height: 60vh;
    width: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;">
    <div class="card-header">
        <button class="btn btn-danger btn-sm" style="padding: 5px 50px" 
        onclick="un_hide_div(elementId='id-display-shift-on-map')">
            Close </button>
    </div>
    <div class="card-body">
        <div id="parent-draw-tour-rightclick">
            <div id="id-tours-map" style="width: 50vw; height: 50vh; vertical-align: top"></div>
        </div>
    </div>
    
</div>
